# Eat Safe, Love

## Notebook Set Up

In [151]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [152]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [153]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [154]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [155]:
# assign the collection to a variable
establishments = db['establishments']

In [156]:
for document in establishments.find().limit(5):
    pprint(document)

{'AddressLine1': 'Wear Bay Road',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Wear Bay Bowls Club',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.821311183521,
 'FHRSID': 647177,
 'LocalAuthorityBusinessID': 'PI/000041489',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6PY',
 'RatingDate': '2014-03-31T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('67214d23924c1b64ee59b775'),
 'geocode': {'latitude': 51.086058, 'longitude': 1.196408},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/647177',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 10, 'Hygiene': 5, 'Structural': 5}}
{'AddressLine1': 'St Marys Church Of England Primary School',
 'AddressLine2': 'Warren Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'BusinessName': 'St Marys COE (aided) Primary School',
 'BusinessType': 'School/college/university',
 'BusinessTypeID': 7845,
 'ChangesByServerID': 0,
 'Distance': 4591.871474174837,
 'FHRSID': 289353,
 'LocalAuthorityBusinessID': 'PI/000002468',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6QH',
 'RatingDate': '2016-09-13T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('67214d23924c1b64ee59b776'),
 'geocode': {'latitude': 51.085797, 'longitude': 1.194762},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/289353',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}
{'AddressLine1': '23 The Stade',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'The Ship',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.912144538092,
 'FHRSID': 289352,
 'LocalAuthorityBusinessID': 'PI/000002460',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6AB',
 'RatingDate': '2015-08-27T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('67214d23924c1b64ee59b77a'),
 'geocode': {'latitude': 51.08084, 'longitude': 1.188537},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/289352',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}}
{'AddressLine1': 'The Ship',
 'AddressLine2': '23 The Stade',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'BusinessName': 'The Ships Galley',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.912144538092,
 'FHRSID': 987206,
 'LocalAuthorityBusinessID': 'PI/000075655',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6AB',
 'RatingDate': '2019-07-03T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('67214d23924c1b64ee59b77b'),
 'geocode': {'latitude': 51.08084, 'longitude': 1.188537},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/987206',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 10, 'Hygiene': 0, 'Structural': 0}}
{'AddressLine1': '16 The Stade',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Mariner',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.912144538092,
 'FHRSID': 289560,
 'LocalAuthorityBusinessID': 'PI/000039927',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6AB',
 'RatingDate': '2019-03-19T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('67214d23924c1b64ee59b77c'),
 'geocode': {'latitude': 51.08084, 'longitude': 1.188537},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/289560',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 5}}

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [157]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}
fields = {"scores.Hygiene": 1, "_id": 0 }
results = establishments.find(query, fields).limit(5)
for doc in results:
    print(doc)

{'scores': {'Hygiene': 20}}
{'scores': {'Hygiene': 20}}
{'scores': {'Hygiene': 20}}
{'scores': {'Hygiene': 20}}
{'scores': {'Hygiene': 20}}

In [158]:
# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(f"Number of establishments with a hygiene score of 20: {count}")

Number of establishments with a hygiene score of 20: 41

In [159]:
# Display the first document in the results using pprint
first_result = establishments.find_one(query)
pprint(first_result)

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': '0',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('67214d24924c1b64ee59d2b1'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [160]:
# Convert the result to a Pandas DataFrame
fields = {"BusinessName": 1, "Hygiene": "$scores.Hygiene", "_id": 0}
results = establishments.find(query, fields)
hygiene_list = list(results)
hygiene_df = pd.DataFrame(hygiene_list)
hygiene_df.head(10)

                BusinessName  Hygiene
0        The Chase Rest Home       20
1                 Brenalwood       20
2              Melrose Hotel       20
3              Seaford Pizza       20
4              Golden Palace       20
5           Ashby's Butchers       20
6  South Sea Express Cuisine       20
7              Golden Palace       20
8             The Tulip Tree       20
9                      F & S       20

In [161]:
# Display the number of rows in the DataFrame
row_count = hygiene_df.shape[0]
print(f"Number of rows in the dataframe is {row_count}")

Number of rows in the dataframe is 41

In [162]:
# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

                BusinessName  Hygiene
0        The Chase Rest Home       20
1                 Brenalwood       20
2              Melrose Hotel       20
3              Seaford Pizza       20
4              Golden Palace       20
5           Ashby's Butchers       20
6  South Sea Express Cuisine       20
7              Golden Palace       20
8             The Tulip Tree       20
9                      F & S       20

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [163]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {
    'LocalAuthorityName': {'$regex': 'London', '$options': 'i'},
    'RatingValue': {'$gte': 4}
}

fields = {"RatingValue": 1, "BusinessName": 1}
results = establishments.find(query, fields)
for i in results:
    pprint(i)

{'BusinessName': "Charlie's",
 'RatingValue': 4,
 '_id': ObjectId('67214d24924c1b64ee59ecc8')}
{'BusinessName': 'Mv City Cruises Erasmus',
 'RatingValue': 5,
 '_id': ObjectId('67214d24924c1b64ee59efee')}
{'BusinessName': 'Benfleet Motor Yacht Club',
 'RatingValue': 4,
 '_id': ObjectId('67214d24924c1b64ee59fb3f')}
{'BusinessName': 'Tilbury Seafarers Centre',
 'RatingValue': 5,
 '_id': ObjectId('67214d24924c1b64ee5a0939')}
{'BusinessName': 'Coombs Catering t/a The Lock and Key',
 'RatingValue': 5,
 '_id': ObjectId('67214d24924c1b64ee5a093a')}
{'BusinessName': 'Mv Valulla',
 'RatingValue': 5,
 '_id': ObjectId('67214d24924c1b64ee5a1042')}
{'BusinessName': 'Tereza Joanne',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3153')}
{'BusinessName': 'Brick Lane Brews',
 'RatingValue': 4,
 '_id': ObjectId('67214d25924c1b64ee5a3519')}
{'BusinessName': 'The Nuance Group (UK) Limited',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3533')}
{'BusinessName': 'WH Smith',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3534')}
{'BusinessName': 'City Bar & Grill',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3536')}
{'BusinessName': 'Jet Centre',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3719')}
{'BusinessName': 'Caff√® Nero',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a371d')}
{'BusinessName': 'Mv Sunborn Yacht Hotel',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a39b6')}
{'BusinessName': 'Good Hotel London',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3bbf')}
{'BusinessName': 'La Nonna lina',
 'RatingValue': 4,
 '_id': ObjectId('67214d25924c1b64ee5a3be6')}
{'BusinessName': 'Wake Up Docklands Limited',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3be9')}
{'BusinessName': 'MV Venus Clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3dae')}
{'BusinessName': 'MV Typhoon clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3df6')}
{'BusinessName': 'MV Moon clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3df8')}
{'BusinessName': 'MV Jupiter clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3df9')}
{'BusinessName': 'MV Monsoon clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3dfa')}
{'BusinessName': 'MV Meteor clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3dfc')}
{'BusinessName': 'MV Tornado clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3dfd')}
{'BusinessName': 'MV Mercury clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3dfe')}
{'BusinessName': 'MV Neptune clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3dff')}
{'BusinessName': 'MV Hurricane clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3e00')}
{'BusinessName': 'MV Cyclone clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3e01')}
{'BusinessName': 'MV Galaxy clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3e02')}
{'BusinessName': 'MV Sun clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3e03')}
{'BusinessName': 'Mv Storm Clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3e04')}
{'BusinessName': 'MV Aurora clipper',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3e05')}
{'BusinessName': 'Canary Wharf 1V',
 'RatingValue': 5,
 '_id': ObjectId('67214d25924c1b64ee5a3e06')}

In [164]:
# Use count_documents to display the number of documents in the result
query = {
    'LocalAuthorityName': {'$regex': 'London', '$options': 'i'},
    'RatingValue': {'$gte': 4}
}
count = establishments.count_documents(query)
print(f"Number of establishments with London as the Local Authority and has a RatingValue greater than or equal to 4 is: {count}")

# Display the first document in the results using pprint
first_result = establishments.find_one(query)
pprint(first_result)

Number of establishments with London as the Local Authority and has a RatingValue greater than or equal to 4 is: 33
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('67214d24924c1b64ee59ecc8'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [165]:
# Convert the result to a Pandas DataFrame
results = list(establishments.find(query, fields))
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
row_count = df.shape[0]
print(f"Number of rows {row_count}")

# Display the first 10 rows of the DataFrame
df.head(10)

Number of rows 33

                        _id                          BusinessName  RatingValue
0  67214d24924c1b64ee59ecc8                             Charlie's            4
1  67214d24924c1b64ee59efee               Mv City Cruises Erasmus            5
2  67214d24924c1b64ee59fb3f             Benfleet Motor Yacht Club            4
3  67214d24924c1b64ee5a0939              Tilbury Seafarers Centre            5
4  67214d24924c1b64ee5a093a  Coombs Catering t/a The Lock and Key            5
5  67214d24924c1b64ee5a1042                            Mv Valulla            5
6  67214d25924c1b64ee5a3153                         Tereza Joanne            5
7  67214d25924c1b64ee5a3519                      Brick Lane Brews            4
8  67214d25924c1b64ee5a3533         The Nuance Group (UK) Limited            5
9  67214d25924c1b64ee5a3534                              WH Smith            5

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [166]:

degree_search = 0.01

#Find Penang Flavours restaurant
penang_flavours = establishments.find_one({"BusinessName": "Penang Flavours"})


#Find latitude and longitude
latitude = penang_flavours['geocode']['latitude']
longitude = penang_flavours['geocode']['longitude']

# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
query = {
    'RatingValue': 5,
    'geocode.latitude': {'$gte': latitude - degree_search, '$lte': latitude + degree_search},
    'geocode.longitude': {'$gte': longitude - degree_search, '$lte': longitude + degree_search}
}

# Sort by hygiene score
sort = [('scores.Hygiene', 1)]
limit = 5

fields = {"BusinessName": 1, "Hygiene": "$scores.Hygiene", "longitude": "$geocode.longitude", "latitude": "$geocode.latitude"}
# Execute the query
results = list(establishments.find(query, fields).sort(sort).limit(limit)) 

# Print the results
print(f"Top 5 establishments with a rating value of 5, sorted by lowest hygiene score, nearest to the restaurant 'Penang Flavours' within 0.01 degree on either side of the latitude and longitude: {len(results)}")

# Print first 5 results
for result in results:
    pprint(result)

Top 5 establishments with a rating value of 5, sorted by lowest hygiene score, nearest to the restaurant 'Penang Flavours' within 0.01 degree on either side of the latitude and longitude: 5
{'BusinessName': 'Volunteer',
 'Hygiene': 0,
 '_id': ObjectId('67214d25924c1b64ee5a2b0c'),
 'latitude': 51.4873437,
 'longitude': 0.09208}
{'BusinessName': 'Atlantic Fish Bar',
 'Hygiene': 0,
 '_id': ObjectId('67214d25924c1b64ee5a2b22'),
 'latitude': 51.4867296,
 'longitude': 0.0912164}
{'BusinessName': 'Lumbini Grocery Ltd T/A Al-Iman',
 'Hygiene': 0,
 '_id': ObjectId('67214d25924c1b64ee5a2b26'),
 'latitude': 51.4871632,
 'longitude': 0.0916256}
{'BusinessName': 'Iceland',
 'Hygiene': 0,
 '_id': ObjectId('67214d25924c1b64ee5a2ae0'),
 'latitude': 51.4871482849121,
 'longitude': 0.0924199968576431}
{'BusinessName': 'Howe and Co Fish and Chips - Van 17',
 'Hygiene': 0,
 '_id': ObjectId('67214d25924c1b64ee5a2aee'),
 'latitude': 51.4875335693359,
 'longitude': 0.0925370007753372}

In [167]:
# Convert result to Pandas DataFrame
results_df = pd.DataFrame(results)
results_df.head(10)

,_id,BusinessName,Hygiene,longitude,latitude
0,67214d25924c1b64ee5a2b0c,Volunteer,0,0.092080,51.487344
1,67214d25924c1b64ee5a2b22,Atlantic Fish Bar,0,0.091216,51.486730
2,67214d25924c1b64ee5a2b26,Lumbini Grocery Ltd T/A Al-Iman,0,0.091626,51.487163
3,67214d25924c1b64ee5a2ae0,Iceland,0,0.092420,51.487148
4,67214d25924c1b64ee5a2aee,Howe and Co Fish and Chips - Van 17,0,0.092537,51.487534

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [168]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': 0}}

# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': '$LocalAuthorityName','count': {'$sum': 1}}}

# 3. Sorts the matches from highest to lowest
sort_query = {'$sort': {'count': -1}}

# Put the pipeline together
pipeline = [match_query, group_query, sort_query]

# Run the pipeline through the aggregate method and save the results to a variable
results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print(f"Number of local authorities with establishments that have a hygiene score of 0: {len(results)}")

# Print the first 10 results
for result in results[:10]:
    pprint(result)

Number of local authorities with establishments that have a hygiene score of 0: 55
{'_id': 'Thanet', 'count': 1130}
{'_id': 'Greenwich', 'count': 882}
{'_id': 'Maidstone', 'count': 713}
{'_id': 'Newham', 'count': 711}
{'_id': 'Swale', 'count': 686}
{'_id': 'Chelmsford', 'count': 680}
{'_id': 'Medway', 'count': 672}
{'_id': 'Bexley', 'count': 607}
{'_id': 'Southend-On-Sea', 'count': 586}
{'_id': 'Tendring', 'count': 542}

In [169]:
# Convert the result to a Pandas DataFrame
zero_score_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
rows = zero_score_df.shape[0]
print(f"Number of local authorities with establishments that have a hygiene score of 0: {rows}")

# Display the first 10 rows of the DataFrame
zero_score_df.head(10)

Number of local authorities with establishments that have a hygiene score of 0: 55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542